{% load static %}
<section
	id="projects"
	class="flex flex-col md:flex-row bg-green-light p-4"
>
	<header class="header-left">
		PROJECTS
	</header>

	<div class="flex flex-col md:flex-row flex-wrap">
		<article class="card p-4 md:w-56">
			<h3 class="col-span-2 text-2xl font-secondary">PokeProject</h3>
			<p class="text-center col-span-2 font-tertiary pt-8 pb-8">
				Simple website of fun quizzes about pokemon and other stuff
			</p>
			<div class="flex flex-row place-content-center space-x-4 pt-4">
				<a
					href="http://poke-project.herokuapp.com/"
					target="_blank"
					class="flex flex-row space-x-2"
					rel="noopener noreferrer"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-globe w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<circle cx="12" cy="12" r="10" />
						<path
							d="M2 12h20M12 2a15 15 0 014 10 15 15 0 01-4 10 15 15 0 01-4-10 15 15 0 014-10z"
						/>
					</svg>
					<h5 class="self-center font-secondary">Live Site</h5>
				</a>
				<a
					href="https://github.com/garyteofanus/pokeproject"
					target="_blank"
					rel="noopener noreferrer"
					class="flex flex-row space-x-2"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-github w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<path
							d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
						/>
					</svg>
					<h5 class="self-center font-secondary">Repo</h5>
				</a>
			</div>
		</article>

		<article class="card p-4 md:w-56">
			<h3 class="col-span-2 text-2xl font-secondary">Story 1</h3>
			<p class="text-center col-span-2 font-tertiary pt-8 pb-8">
				First assignment on Web Programming and Design Course
			</p>
			<div class="flex flex-row place-content-center space-x-4 pt-4">
				<a
					href="{% url 'story_1:index' %}"
					target="_blank"
					class="flex flex-row space-x-2"
					rel="noopener noreferrer"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-globe w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<circle cx="12" cy="12" r="10" />
						<path
							d="M2 12h20M12 2a15 15 0 014 10 15 15 0 01-4 10 15 15 0 01-4-10 15 15 0 014-10z"
						/>
					</svg>
					<h5 class="self-center font-secondary">Live Site</h5>
				</a>
				<a
					href="https://gitlab.com/story-ppw/story-1"
					target="_blank"
					rel="noopener noreferrer"
					class="flex flex-row space-x-2"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-github w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<path
							d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
						/>
					</svg>
					<h5 class="self-center font-secondary">Repo</h5>
				</a>
			</div>
		</article>

		<article class="card p-4 md:w-56">
			<h3 class="col-span-2 text-2xl font-secondary">TP4 DDP1</h3>
			<p class="text-center col-span-2 font-tertiary pt-8 pb-8">
				Web version of TP3 from Basics of Programming course
			</p>
			<div class="flex flex-row place-content-center space-x-4 pt-4">
				<a
					href="https://tp4-ddp1.herokuapp.com/"
					target="_blank"
					rel="noopener noreferrer"
					class="flex flex-row space-x-2 cursor-not-allowed"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-globe w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<circle cx="12" cy="12" r="10" />
						<path
							d="M2 12h20M12 2a15 15 0 014 10 15 15 0 01-4 10 15 15 0 01-4-10 15 15 0 014-10z"
						/>
					</svg>
					<h5 class="self-center font-secondary">Live Site</h5>
				</a>
				<a
					href="https://github.com/garyteofanus/programming-assignment-4"
					target="_blank"
					rel="noopener noreferrer"
					class="flex flex-row space-x-2"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-github w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<path
							d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
						/>
					</svg>
					<h5 class="self-center font-secondary">Repo</h5>
				</a>
			</div>
		</article>

		<article class="card text-2xl p-4 place-items-center md:w-56">
			<h3 class="font-secondary">More Coming Soon ...</h3>
		</article>
	</div>
</section>