@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    html {
        scroll-behavior: smooth;
    }
    
    #home {
        background-image: url("../images/Hero.jpg");
    }

    .card {
        @apply border-solid border-black border-4 rounded-lg m-4 shadow-xl transition duration-500 ease-in-out transform bg-gray text-center;
    }

    .card:hover {
        @apply -translate-y-1 scale-110;
    }

    .header-left {
        @apply order-first text-xl text-center text-white opacity-50 font-header;
    }

    .header-right {
        @apply order-first text-xl text-center text-white opacity-50 font-header;
    }

    .btn {
        @apply shadow bg-green-light text-white font-bold py-1 px-2 my-2 rounded;
    }

    .frm {
        @apply mb-6;
    }

    .frm label {
        @apply block text-white font-bold mb-1 pr-4;
    }

    .frm input {
        @apply bg-white appearance-none border-2 border-white rounded w-full py-2 px-4 text-black leading-tight;
    }

    .frm textarea {
        @apply bg-white appearance-none border-2 border-white rounded w-full py-2 px-4 text-black leading-tight;
    }

    .frm select {
        @apply bg-white appearance-none border-2 border-white rounded w-full py-2 px-4 text-black leading-tight;
    }
    
    .frm textarea:focus {
        @apply outline-none border-green-light;
    }

    .frm input:focus {
        @apply outline-none border-green-light;
    }

    .frm select:focus {
        @apply outline-none border-green-light;
    }
}

@screen md {
    .header-right {
        @apply order-last ml-32;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    .header-left {
        @apply order-first mr-32;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    .frm {
        @apply flex items-center;
    }

    .frm label {
        @apply text-right mb-0;
    }
}