{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Check out my activities!</title>
{% endblock meta %}

{% block content %}
<section class="p-4">
    <header
        class="font-header text-center text-4xl text-white opacity-50 md:col-span-3 self-center mb-4"
    >
        Activities
    </header>

    <div class="grid grid-cols-1 md:grid-cols-2 align-center justify-center">
        <div class="text-white font-secondary m-4 space-y-4 w-full max-w-sm md:max-w-xl md:self-start">
            <div class="text-center text-lg m-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="text-white font-secondary border border-white px-4 py-3 rounded relative m-4 bg-green-light">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <form action="{% url 'activity:add_activity' %}" method="POST" class="items-start">
                {% csrf_token %}
                <div class="frm">
                    <div class="md:w-1/3">
                            {{ activity_form.name.label_tag }}
                    </div>
                    <div class="md:w-2/3">
                        {{ activity_form.name }}
                    </div>
                </div>

                <div class="frm">
                    <div class="md:w-1/3">
                            {{ activity_form.description.label_tag }}
                    </div>
                    <div class="md:w-2/3">
                        {{ activity_form.description }}
                    </div>
                </div>

                <div class="md:flex md:items-center">
                    <div class="md:w-1/3"></div>
                    <div class="md:w-2/3">
                        <input type="submit" value="Submit" class="btn">
                    </div>
                </div>
            </form>
        </div>

        <div class="grid grid-cols-1 md:grid-rows-2 md:grid-cols-2">
            {% if activities %}
                {% for activity in activities %}
                    <div class="card p-4">
                        <div class="text-xl font-secondary font-bold">{{ activity.name }}</div>
                        <div class="font-tertiary mt-2">{{ activity.description }}</div>

                        <p class="mt-8 mb-2 font-tertiary">List Of Participant(s): </p>
                        {% if participants %}
                            <ul>
                                {% for participant in participants %}
                                    {% if participant.activity == activity %}
                                        <div class="flex gap-4 align-center justify-center">
                                            <div>
                                                <li class="font-tertiary text-center">{{ participant.name }}</li>
                                            </div>
                                            <div>
                                                <a  href="{% url 'activity:remove_participant' participant.id %}" 
                                                class="btn"
                                                style="background-color:#F15025"
                                                >
                                                Delete
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                        <h1 class="text-lg text-center col-span-2">None!</h1>
                        {% endif %}

                        <form action="{% url 'activity:add_participant' activity.id %}" method="POST" class="mt-6 flex align-center justify-center gap-2">
                            {% csrf_token %}
                            <div class="frm self-center">
                                {{ participant_form.name }}
                            </div>
                            <div>
                                <input type="submit" value="Add" class="btn">
                            </div>
                        </form>
                        <a  href="{% url 'activity:remove_activity' activity.id %}" 
                            class="btn" 
                            style="background-color:#F15025">
                            Delete
                        </a>
                    </div>
                {% endfor %}
            {% else %}
            <h1 class="text-2xl text-white text-center col-span-2">There are no activities yet!</h1>
            {% endif %}
        </div>
    </div>

</section>
{% endblock content%}